        <div class="container">
            <div class="row" style="padding-bottom: 20px; padding-top: 20px;">
              <div class="col-lg-6 footer-img">
                <img src="../images/logo1.png" alt="USF logo" style="height: 110px;;" >
              </div>
              <div class="d-md-none d-block">
                <div class="w-100"></div>
                <hr noshade>
                <div class="col"></div>
              </div>
              <div class="col">
                <ul>
                    <label>Legal info</label>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                    <li>Cookie Policy</li>
                </ul>
              </div>
              <div class="col">
                <ul>
                    <label>Get in touch with us</label>
                    <li><a href="../pages/contacts.php">Contacts</a></li>
                    <li><a href="https://www.instagram.com/marto__yordanov/">Instagram</a></li>
                    <li><a href="https://www.facebook.com/martiyordanov2005/">Facebook</a></li>
                </ul>
              </div>
              <div class="col" >
                <ul>
                    <label>Designed by</label>
                    <li>Martin Yordanov</li>
                    <li>Kristiyan Yordanov</li>
                    <li>Stivan Borisov</li>
                </ul>
              </div>